@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kaisei+Opti:wght@700&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexkai.css');

:root {
    font-family: 'Consolas', 'Roboto Mono', Arial, Helvetica, sans-serif;
    font-size: 1.3vw;
}

* {
    margin: 0px;
    padding: 0px;
    cursor: default;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    overflow: hidden;
    font-weight: bold;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    font-size: 4vw;
    text-align: center;
}

.container {
    --scroll: 0;
    height: 200vh;
}

.sticky {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky span {
    line-height: 8rem;
    font-size: 8.4rem;
    position: absolute;
    color: #25c7d9;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% calc((100 - 3 * var(--scroll)) * 1%),
        0% calc((100 - 3 * var(--scroll)) * 1%)
    );
}

.sticky span:nth-child(2) {
    font-size: 4rem;
    color: rgba(37, 199, 217, 0.5);
    clip-path: polygon(
        100% calc((100 - 3 * var(--scroll)) * 1%),
        0% calc((100 - 3 * var(--scroll)) * 1%),
        0% calc((100 - var(--scroll)) * 1%),
        100% calc((100 - var(--scroll)) * 1%)
    );
}

.sticky span:nth-child(3),
span:nth-child(4) {
    color: #f2762e;
    clip-path: polygon(
        100% 100%,
        0% 100%,
        0% calc((100 - var(--scroll)) * 1%),
        100% calc((100 - var(--scroll)) * 1%)
    );
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f5f73;
    font-family: 'KaiTi';
    font-size: 20px;
    color: #f2e5a0;
}

span {
    padding: .5rem .5rem;
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    color: #f2e5a0;
}
