html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: black;
}

input {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 5px;
    outline: none;
    background-color: black;
    color: aqua;
    height: 22px;
    width: 200px;
}

p {
    font-family: Consolas;
    color: aqua;
}
